<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white text-center">
          <h5 class="mb-0">
            {{ alumnoId ? "Editar Alumno" : "Registrar Alumno" }}
          </h5>
        </div>
        <div class="card-body">
          <form [formGroup]="alumnoForm" (ngSubmit)="guardarAlumno()">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input
                id="nombre"
                formControlName="nombre"
                class="form-control form-control-lg"
                placeholder="Ingrese el nombre"
                required
              />
            </div>

            <div class="mb-3">
              <label for="perfil" class="form-label">Perfil</label>
              <input
                id="perfil"
                formControlName="perfil"
                class="form-control form-control-lg"
                placeholder="Ingrese el perfil"
                required
              />
            </div>

            <div class="mb-3">
              <label for="sexo" class="form-label">Sexo</label>
              <select
                id="sexo"
                formControlName="sexo"
                class="form-control form-control-lg"
                required
              >
                <option value="">Seleccione...</option>
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
              </select>
            </div>

            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-primary w-48">
                <i class="bi bi-save me-2"></i>
                {{ alumnoId ? "Actualizar" : "Guardar" }}
              </button>
              <button
                type="button"
                class="btn btn-secondary w-48"
                routerLink="/alumnos/lista-alumnos"
              >
                <i class="bi bi-arrow-left me-2"></i> Volver
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
