<div class="container my-4">
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white text-center">
      <h2 appHeaderSize>Lista de Cursos</h2>
    </div>
    <div class="card-body">
      <table mat-table [dataSource]="cursos" class="mat-elevation-z8">
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef class="fw-bold"
            >Nombre</mat-header-cell
          >
          <mat-cell *matCellDef="let curso">
            <i class="bi bi-book me-2"></i> {{ curso.nombre }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="horas">
          <mat-header-cell *matHeaderCellDef class="fw-bold"
            >Horas</mat-header-cell
          >
          <mat-cell *matCellDef="let curso">
            <i class="bi bi-clock me-2"></i> {{ curso.horas }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="clases">
          <mat-header-cell *matHeaderCellDef class="fw-bold"
            >Clases</mat-header-cell
          >
          <mat-cell *matCellDef="let curso">
            <i class="bi bi-list-ol me-2"></i> {{ curso.clases }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="profesor">
          <mat-header-cell *matHeaderCellDef class="fw-bold"
            >Profesor</mat-header-cell
          >
          <mat-cell *matCellDef="let curso">
            <i class="bi bi-person-badge me-2"></i> {{ curso.profesor }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef class="fw-bold"
            >Acciones</mat-header-cell
          >
          <mat-cell *matCellDef="let curso">
            <a
              [routerLink]="['/cursos/abm-cursos', curso.id]"
              class="btn btn-warning btn-sm me-2"
            >
              <i class="bi bi-pencil-fill"></i> Editar
            </a>
            <button
              class="btn btn-danger btn-sm"
              (click)="eliminarCurso(curso.id)"
            >
              <i class="bi bi-trash-fill"></i> Eliminar
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </table>
    </div>
  </div>
</div>
