<div class="container my-4">
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white text-center">
      <h2 appHeaderSize>Lista de Clases</h2>
    </div>
    <div class="card-body">
      <table mat-table [dataSource]="clases" class="mat-elevation-z8">
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef class="fw-bold"
            >Nombre</mat-header-cell
          >
          <mat-cell *matCellDef="let clase">
            <i class="bi bi-book me-2"></i> {{ clase.nombre }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef class="fw-bold"
            >Descripción</mat-header-cell
          >
          <mat-cell *matCellDef="let clase">
            <i class="bi bi-file-text me-2"></i> {{ clase.descripcion }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="horario">
          <mat-header-cell *matHeaderCellDef class="fw-bold"
            >Horario</mat-header-cell
          >
          <mat-cell *matCellDef="let clase">
            <i class="bi bi-clock me-2"></i> {{ clase.horario }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef class="fw-bold"
            >Acciones</mat-header-cell
          >
          <mat-cell *matCellDef="let clase">
            <a
              [routerLink]="['/clases/abm-clases', clase.id]"
              class="btn btn-warning btn-sm me-2"
            >
              <i class="bi bi-pencil-fill"></i> Editar
            </a>
            <button
              class="btn btn-danger btn-sm"
              (click)="eliminarClase(clase.id)"
            >
              <i class="bi bi-trash-fill"></i> Eliminar
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </table>
    </div>
  </div>
</div>
